BlogEntryCreator/BlogEntryCreator/bin/
BlogEntryCreator/.vs/
BlogEntryCreator/BlogEntryCreator/obj/Debug/netcoreapp3.1/
*.v2
*.v2
BlogEntryCreator/.vs/BlogEntryCreator/v16/.suo
BlogEntryCreator/.vs/BlogEntryCreator/v16/.suo
BlogEntryCreator/.vs/BlogEntryCreator/v16/.suo
